.main.right-pane {
  height: 100vh;
}

.sidebar.left-pane {
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 100vh;
  flex: auto;
  display: flex;
  flex-direction: column;
  color: #ccc;
}

.divider {
  position: relative;
  background-color: #a19c9c;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: background-color .3s;
}

.divider:hover {
  background-color: #279198;
}

.divider:active {
  background-color: #10656b;
}

.vertical.divider {
  width: 7px;
  cursor: col-resize;
}

.horizontal.divider {
  height: 7px;
  cursor: row-resize;
}

/* Toast Animations */
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.bounceIn {
  animation-name: bounceIn;
}

@keyframes bounceOut {
  0% {
    transform: translate3d(0, 0, 0);
  }
  30% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
}

.bounceOut {
  animation-name: bounceOut;
}

.animate {
  animation-duration: 800ms;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
