summary::-webkit-details-marker {
  color: #ccc;
}

.main.right-pane {
  height: 100vh;
}

.sidebar.left-pane {
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 100vh;
  flex: auto;
  display: flex;
  flex-direction: column;
  color: #ccc;
}

.divider {
  position: relative;
  background-color: #a19c9c;
  background-repeat: no-repeat;
  background-position: 50%;
  transition: background-color .3s;
}

.divider:hover {
  background-color: #279198;
}

.divider:active {
  background-color: #10656b;
}

.vertical.divider {
  width: 7px;
  cursor: col-resize;
}

.horizontal.divider {
  height: 7px;
  cursor: row-resize;
}
