.react-codemirror2 {
  height: calc(100vh - 50px);
  margin: none;
}

.CodeMirror {
  height: 100% !important;
}

.CodeMirror .cm-matchhighlight {
  background: rgba(222, 153, 174, 0.3);
}

.CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid #d5d5d5 !important;
}

.cm-s-tomorrow-night-eighties .CodeMirror-activeline-background {
  background: rgba(187, 141, 245, 0.1) !important;
}

.CodeMirror-scrollbar-filler {
  background: black !important;
}

.CodeMirror.cm-s-panda-syntax {
  font-size: 13px !important;
  line-height: 1.3 !important;
}

.CodeMirror-scrollbar-filler {
  background: transparent !important;
}
