.sidebar--output.bottom-pane {
  margin: 0;
  position: relative;
}

.sidebar--output--messages {
  background: #1b1d1a;
  box-sizing: border-box;
  color: #07bb04;
  font-family: monospace;
  height: 100%;
  overflow-y: auto;
}

.sidebar--output--clear-console {
  cursor: pointer;
  font-size: 14px;
  padding: 4px 7px 6px 7px;
  position: absolute;
  top: 10px;
  right: 18px;
}

.sidebar--output--messages--message.error {
  color: #ff0000;
}

.sidebar--output--messages--message {
  margin: 0;
  padding: 5px 0 0 8px;
  white-space: pre;
}

.sidebar--output--messages--message:last-of-type {
  margin-bottom: 5px;
}

.sidebar--output--messages--default-message {
  padding: 5px 0 0 8px;
  color: #787577;
}

.type {
  color: rgb(241, 246, 9);
}

code {
  color: #787577;
  font-style: italic;
}

a {
  color: #248064;
  transition: .5s;
}

a:hover {
  color: #46bc99;
}
