body {
  font-family: Ubuntu;
  margin: 0;
  position: relative;
  overflow-y: hidden;
}

#root {
  display: flex;
  height: 100vh;
  width: 100%;
}

#modal-root {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  height: 10px;
  width: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 0 0 15px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-corner {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
