.sidebar--menu.top-pane {
  overflow-y: auto;
  flex: auto;
  user-select: none;
  /* transition: .2s ease-in; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar--menu--header {
  cursor: default;
  text-align: center;
  border-top: 2px solid black !important;
  width: 100%;
  padding: 15px 0px;
}

.sidebar--menu--header,
.sidebar--menu--sub-header,
.sidebar--menu--detail {
  cursor: pointer;
  outline: none;
}

.sidebar--menu--sub-header:hover,
.sidebar--menu--detail:hover {
  background: rgba(0,0,0,0.08);
}

.sidebar--menu:last-child {
  border: 2px solid black;
}

.sidebar--menu--header,
.sidebar--menu--sub-header {
  font-size: 20px;
}

.sidebar--menu--sub-header {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  background: rgba(0,0,0,0.05);
  padding: 15px;
  transition: all 300ms;
}

@-moz-document url-prefix() {
  .sidebar--menu--sub-header {
    flex-direction: row;
  }
}

.sidebar--menu--sub-header.sub,
.sidebar--menu--detail.sub {
  padding-left: 20px;
}

.sidebar--menu--detail--button--container {
  display: flex;
}

.sidebar.left-pane,
.sidebar--menu--detail {
  background: #707070;
}

.sidebar--menu--detail {
  font-size: 15px;
  padding: 5px 5px 5px 20px;
  margin: 0;
  transition: .2s !important;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar--menu--detail.active {
  background: rgba(255,255,255,0.05);
}

.sidebar--menu--detail > span {
  max-width: 40%; /* prevent long words like "checkerboard" from altering icons */
}

.sidebar--menu--detail--button {
  margin: 5px 0 5px 10px;
  padding: 2px 5px 2px 5px;
  font-size: 13px;
  color: #3e3e3e;
}

.sidebar--menu--detail--button.resources {
    margin-right: 5px;
}

details {
  margin-top: 10px;
  margin-bottom: 20px;
}

.sidebar--menu > details {  
  width: 90%;
}

.sidebar--menu > details > details {
  padding-left: 20px;
}